@charset 'UTF-8';
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100vw;
}

/*ESCONDE A BARRA DE ROLAGEM*/
::-webkit-scrollbar{
    width: 0;
    height: 0;
    margin: 0;
}
a{
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 18px;
    font-weight: bolder;
    text-decoration: none;
    margin: 0;
}